.calculator{
    margin-top: 50px;
    margin-bottom: 50px;
}
.rp{
    margin-bottom: 40px;
}

.btne{
    height: 60px;
    width: 200px;
    background-color: blue;
    border-radius: 20px;
    color: white;
}
.inp{
    width: 300px;
    border-radius: 10px;
}
